footer
      p.copyright Copyright 2022, Kris Hatch-McCarter
      ul
        li
          a.social.facebook(href='https://www.facebook.com/bill.caisse.3' target='_blank') Facebook
          a.social.discord(href='https://discord.gg/SDcbGepGZU' target="_blank") Discord