footer
      p.copyright Copyright 2022, Kris Hatch-McCarter
      ul
        li
          a.social.twitter(href='http://www.twitter.com/@krismccarter10' target='_blank') Twitter
          a.social.linkedin(href='https://www.linkedin.com/in/kris-hatch-mccarter-718aaaa5/' target="_blank") LinkedIn
          a.social.github(href='https://github.com/krishatchmccarter/' target="_blank") Github
          a.social.discord(href='https://discord.gg/dN99rh3HAb' target="_blank") Discord