
.main-nav
  ul.nav
    li.name Arlo Hall 
    li
      a(href='#') Weather
    li
      a(href='#') Photos
    li
      a(href='#') Fitness
    li
      a(href='#') Blog
    li
      a(href='#') Contact
header 
  h1.tag.name Welcome to Arlo Hall!