
.main-nav
  ul.nav
    li.name Arlo Hall 
    li
      a(href='/') Home    
    li
      a(href='/weather') Weather
header 
  img.profile-image(src='images/profile-image.jpg' alt='')
  //- h1.tag.name Welcome to Arlo Hall!