extends layout.pug

block content 
    h1 Weather
    main.flex
        .card
          h2#currentWeather Current Weather Conditions
        .card
          h2 and here  
        .card
          h2 and here
        .card
          h2 fill me too